name: Test

on:
    push:
        branches: [develop]
    pull_request:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        concurrency:
            group: ${{ github.workflow }}-${{ github.ref }}
            cancel-in-progress: true
        steps:
            - uses: actions/checkout@v4
            - name: Setup
              uses: actions/setup-node@v4
              with:
                  node-version: "18"
                  cache: "npm"
            - name: Install dependencies
              run: |
                  npm install
                  npm run  build
            - name: Run PHP Laravel setup
              uses: shivammathur/setup-php@v2
              with:
                php-version: '8.2'
                extensions: mbstring, curl, dom, fileinfo, json, mbstring, openssl, pdo, tokenizer
                coverage: none
            - name: Run PHP tests
              run: composer run test
